<%- include('../partials/admin-header') %>
<%- include('../partials/admin-nav') %>
      
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Dashboard</h2>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr> 
                <th>#</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Views</th>
              </tr>
            </thead>
            <tbody>
              <% if(posts.length > 0) { %>
                <% posts.forEach(function(post, index) { %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= post.title %></td>
                    <td><%- post.content %></td>
                    <td><img src="<%= post.image %>" alt="<%= post.image %>" width="100px" ></td>
                    <td><a class="btn btn-warning" href="/edit-post/<%= post._id %>">Edit</a></td>
                    <td><a class="btn btn-danger deletePost" href="#" data-id="<%= post.id %>">Delete</a></td>
                    <td><span><i style="font-size:20px" class="fad fa">&#xf06e;</i> <%= post.views %></span></td>
                  </tr>
                <% }) %>
              <% } else { %>
                <tr>
                  <td colspan="4">No posts found</td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

<script>
  $(document).ready(function() {
    $('.deletePost').on('click', function() {
    
      var postId = $(this).attr('data-id');
      var obj = $(this)
      $.ajax({
        url: "/delete-post",
        type: "POST",
        data: { id: postId },
        success: function(response) {
          if(response.success) {
            let socket = io();
            socket.emit('deletePost', postId);

            
            obj.parent().parent().remove();
            alert('Post deleted successfully');
          } else {
            alert(response.message);
          }
        }
      })
    })
  })
</script>

<%- include('../partials/admin-footer') %>
