<%- include('../partials/admin-header') %>
  <body>
      
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
        <h1><a href="/dashboard" class="logo">Admin</a></h1>
        <ul class="list-unstyled components mb-5">
          <li>
              <a href="/dashboard"><span class="fa fa-user mr-3"></span> Dashboard</a>
          </li>
          <li>
              <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Logout</a>
          </li>
          <li>
              <a href="/create-post"><span class="fa fa-sticky-note-o mr-3"></span> Create Post</a>
          </li>
        </ul>
      </nav>
      
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Dashboard</h2>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr> 
                <th>#</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% if(posts.length > 0) { %>
                <% posts.forEach(function(post, index) { %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= post.title %></td>
                    <td><%- post.content %></td>
                    <td><img src="<%= post.image %>" alt="<%= post.image %>" width="100px" ></td>
                    <td><a href="/edit-post/<%= post.id %>">Edit</a></td>
                    <td><a class="btn btn-danger deletePost" href="#" data-id="<%= post.id %>">Delete</a></td>
                  </tr>
                <% }) %>
              <% } else { %>
                <tr>
                  <td colspan="4">No posts found</td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

<script>
  $(document).ready(function() {
    $('.deletePost').on('click', function() {
    
      var postId = $(this).attr('data-id');
      var obj = $(this)
      $.ajax({
        url: "/delete-post",
        type: "POST",
        data: { id: postId },
        success: function(response) {
          if(response.success) {
            obj.parent().parent().remove();
            alert('Post deleted successfully');
          } else {
            alert(response.message);
          }
        }
      })
    })
  })
</script>

<%- include('../partials/admin-footer') %>
