<%- include('../partials/admin-header') %>

<%- include('../partials/admin-nav') %>


<!-- Page Content -->
<div id="content" class="p-4 p-md-5 pt-5">
  <h2 class="mb-4">Edit Post</h2>

  <div class="container">
    <form method="post" action="/edit-post" id="editPost">
      <div class="row">
        <div class="col-sm-12">
          <h5>Title</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <input type="hidden" name="id" value="<%= post._id %>">
          <input type="text" name="title" value="<%= post.title %>" class="w-50" placeholder="Enter title" required/>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-12">

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
            upload image
          </button>
          <input type="hidden" name="image" id="image" value="<%= post.image %>">
        </div>
      </div>


      <div class="row mt-3">
        <div class="col-sm-12">
          <h5>Content</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <textarea name="content" rows="5" placeholder="Enter Post content" required class="w-50"><%= post.content %></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <input type="submit" value="Update Post" class="btn btn-warning" />
        </div>
      </div>
    </form>
  </div>
  <p style="color: green;" class="status"></p>
</div>

<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">upload image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="uploadform" enctype="multipart/form-data">
        <div class="modal-body">
          <input type="file" name="image"  required>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">upload</button>
        </div>
      </form>

    </div>
  </div>
</div>


<script>
    $(document).ready(function() {
      $('#editPost').on('submit', function(e) {
        e.preventDefault();
        
        let formData = {};
        $.each($(this).serializeArray(), function(_, field) {
          formData[field.name] = field.value;
        });
        console.log(formData);
        
        $.ajax({
          url: '/update-post',
          type: 'POST',
          data: formData,
          success: function(data) {
            if (data.success) {
              $('.status').text(data.message);
            } else {
              $('.status').text(data.message);
            }
          },
        });
      });
      
      $('#uploadform').submit(function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
          url: '/upload-post-image',
          type: 'POST',
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          success: function(data) {
            if (data.success) { 
              $('#image').val(data.image_path); 
              alert(data.message);
              $('#uploadModal').modal('hide');
            }
            else {
              alert(data.message);
            }
          },
        });
      });
    });
  </script>  


<%- include('../partials/admin-footer') %> 