<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs') %>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1"><%= blog.title %></h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on <%= blog.createdAt.toDateString() %>, by <%= blog.name %></div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4">
                    <% if (blog.image !== undefined && blog.image !== '') { %>
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="<%= blog.image %>" alt="..." />
                    <% } 
                    else { %>
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />
                    <% } %>
                </figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4"><%- blog.content %></p>
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <h5 class="card-title">Leave a comment</h5>
                        <form class="mb-4" id="comment-form">
                            <input type="hidden" name="blog_id" value="<%= blog._id %>">
                            <input type="text" name="username" placeholder="Enter your name" required class="form-control mt-3">
                            <input type="text" name="email" placeholder="Ennter your email" required class="form-control mt-3">
                            <textarea class="form-control mt-3" name="comment" rows="3" placeholder="Join the discussion and leave a comment!" required></textarea>
                            <input type="submit" value="Submit" class="btn btn-primary mt-3">
                        </form>

                        <p class="com-status" style="color: green;"></p>
                        <!-- Comment with nested comments-->
                        <% if (Array.isArray(blog.comments) && blog.comments.length > 0) { %>
                            <% blog.comments = blog.comments.reverse(); %>
                            <% blog.comments.forEach(comment => { %>
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3 mt-3">
                                        <div class="fw-bold"><%= comment.username %></div>
                                        <%= comment.comment %>
                                        <% if (Array.isArray(comment.replies) && comment.replies.length > 0) { %>
                                            <% comment.replies.forEach(reply => { %>
                                                <div class="d-flex mt-3 mb-3">
                                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                                    <div class="ms-3">
                                                        <div class="fw-bold"><%= reply.username %></div>
                                                        <%= reply.reply %>
                                                    </div>
                                                </div>
                                            <% }); %>
                                        <% } %>
                                        
                                        <div class="col-md-12">
                                            <form class="do-reply">
                                                <input type="hidden" name="blog_id" value="<%= blog._id %>">
                                                <input type="hidden" name="comment_id" value="<%= comment._id %>">
                                                <div class="form-group">
                                                    <input type="text" name="username" placeholder="Enter your name" required class="form-control mt-5">
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control mt-1" name="reply"  placeholder="Enter reply" required></textarea>
                                                </div>
                                                <input type="submit" value="Reply" class="btn btn-info btn-sm mt-2">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        <% } %>
                        


                     
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#comment-form').submit(function(e) {
            e.preventDefault();
            let username = $('input[name="username"]').val();
            let comment = $('textarea').val();
            let blogId = '<%= blog._id %>';
            // we can also use the serialize method to get the form data or the manual method below
            //serialize the form data
            const formData = $(this).serialize();
            $.ajax({
                url: '/comment',
                method: 'POST',
                data: formData,
                success: function(response) {
                    $('.com-status').text(response.message);
                    setTimeout(() => {
                        $('.com-status').text('');
                    }, 3000);
                    $('input[name="username"]').val('');
                    $('textarea').val('');
                }
            })
            //manually serialize the form data
            /*$.ajax({
                url: '/comment',
                method: 'POST',
                data: {
                    username,
                    comment,
                    blogId
                },
                success: function(response) {
                    $('.com-status').html(response.message);
                    $('input[name="username"]').val('');
                    $('textarea').val('');
                }
            }) */
        })
        
        $('.do-reply').submit(function(e) {
            e.preventDefault();

            const formData = $(this).serialize();
            let obj = $(this);
            $.ajax({
                url: '/reply',
                method: 'POST',
                data: formData,
                success: function(response) {
                    $(obj)[0].reset();
                    $(obj).parent().parent().append('<p>'+response.message+'</p>');
                }
            })
        })
    })
</script>

<%- include('./partials/footer.ejs') %>
```