<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<!-- Page Content -->
<div class="container px-4 px-lg-5 posts">
    <!-- Heading Row -->
    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <div class="row gx-4 gx-lg-5 align-items-center my-5" id="post-<%= blog._id %>">
                <div class="col-lg-7">
                    <% if (blog.image !== undefined && blog.image !== '') { %>
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="<%= blog.image %>" alt="..." />
                    <% } 
                    else { %>
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />
                    <% } %>
                </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light"><%= blog.title %></h1>
                    <p><%= blog.description %></p>
                    <a class="btn btn-primary" href="/blogs/<%= blog.id %>">Read More</a>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />
            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">No Blogs Found</h1>
                <p>There are no blogs to display.</p>
                <a class="btn btn-primary" href="/blogs/new">Create New Blog</a>
            </div>
        </div>
    <% } %>
</div>

<div class="container mb-3">
    <div class="text-center">
        <button class="btn btn-info">previous page</button>
        <button class="btn btn-info" onclick="getNext()">next page</button>
    </div>
</div>

<div class="container mb-3">
    <div class="text-center">
        <button class="btn btn-info">previous page</button>
        <button class="btn btn-info" onclick="getNext()">next page</button>
    </div>
</div>

<script>
    let start = 0;
    let limit = <%= postLimit %>;

    function getNext()
    {
        console.log("Next button clicked");
        start += limit;
        $.ajax({
            url: "/getNext-posts/"+start+"/"+limit,
            type: "GET",
            success: function(data) {
                // console.log(data);
                renderPost(data);
               
            }
        });

    };

    function renderPost(posts) {
    if (posts.length > 0) {
        let html = "";

        posts.forEach(post => {
            let image = "";
            if (post.image !== undefined && post.image !== '') {
                image = `<img class="img-fluid rounded mb-4 mb-lg-0" src="${post.image}" alt="..." />`;
            } else {
                image = `<img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />`;
            }
            html += `<div class="row gx-4 gx-lg-5 align-items-center my-5">
                        <div class="col-lg-7">
                            ${image}
                        </div>
                        <div class="col-lg-5">
                            <h1 class="font-weight-light">${post.title}</h1>
                            <p>${post.description}</p>
                            <a class="btn btn-primary" href="/blogs/${post._id}">Read More</a>
                        </div>
                    </div>`;
        });

        $('.posts').html(html);
    }
}

    let socket = io();

    socket.on("deletePost", function(postId) {
        console.log(postId);
        console.log("post-" + postId);
        document.getElementById("post-" + postId).remove();
    });

    socket.on("new_post", function(formData) {
        // console.log(formData);
        let html = "";
        let image = "https://dummyimage.com/900x400/dee2e6/6c757d.jpg";
        if (formData.image !== '') {
            image = formData.image;
        }
        html += `<div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="` + image + `" alt="..." />
                </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">`+formData.title+`</h1>
                    <p>`+formData.description+`></p>
                    <a class="btn btn-primary" href="/blogs/`+formData._id+`">Read More</a>
                </div>
            </div>`;
        $('.posts').prepend(html);
    });
</script>

<%- include('./partials/footer.ejs') %>